td, th {
  padding-left:10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#link-a {
  margin: 0 -15px;
}

.carousel-inner {
  max-height: 720px;
  overflow: hidden;
}

#myCarousel img {
  min-height: 300px;
  min-width: 100%;
}

#myCarousel2 img {
  min-height: 300px;
  min-width: 100%;
}

.carousel-caption {
  top: 20%;
  bottom: auto;
  background: rgba(0, 0, 0, 0.50);
  max-width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

#section2CarouselCaption {
  top: 10%;
}

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

img {
  max-width: 100%;

}

.bg-2 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

p, th, td, .carousel-caption, h1, h2, h3, h3, ul, li, a {
  font-family: "Georgia", Sans-Serif;
}

p, ul, li, table {
  font-size: 20px;
  line-height: 1.6;
}

p {
  text-align: justify;
}


@media (max-width: 768px) {
  #myCarousel0 {
    display: none;
  }

  #myCarousel {
    display: none;
  }

  #myCarousel-s2 {
    display: none;
  }

  #myCarousel2 {
    display: none;
  }

  #carouselSection2 {
    display: none;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  p, ul, li, table {
    font-size: 16px;
    line-height: 1.6;
  }
  p {
    text-align: left;
  }
}

#emfColor {
  color: black;
}
