/* h1, h2, h3 { */
  /* color: #462158; */
/* } */

.carousel-inner {
    max-height: 720px;
    overflow: hidden;

}


  #myCarousel img {
    min-height: 300px;
    min-width: 100%;
  }

.carousel-caption {
    top: 30%;
    bottom: auto;
}

#text-bg-1 {
    color: white;
    line-height: 1.6;
}

.bg-1 {
       background-color: #1abc9c; /* Green */
        color: #ffffff;
      }

img {
        max-width: 100%;
      }

.bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

.bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }

/*  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
*/

#nav1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
    /* position: relative; */
    /* text-align: center; */
    /* color: white; */
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.navbar-inverse {
  background-color: #462158;
  border-color: #6ab4c7;
}
.navbar-inverse .navbar-brand {
  color: #6ab4c7;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #462158;
}
.navbar-inverse .navbar-text {
  color: #6ab4c7;
}
.navbar-inverse .navbar-nav > li > a {
  color: #6ab4c7;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #462158;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #462158;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #6ab4c7;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #462158;
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #462158;
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #462158;
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #462158;
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-toggle {
  border-color: #6ab4c7;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #6ab4c7;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #6ab4c7;
}
.navbar-inverse .navbar-link {
  color: #6ab4c7;
}
.navbar-inverse .navbar-link:hover {
  color: #462158;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #6ab4c7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #462158;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #462158;
    background-color: #6ab4c7;
  }
}

*/

body {
  /* background-image:url("images/windmills3-unsplash.jpg"); */
  /* background-color: #ffeecc; */
  color: #4d3300;
  font-family: Georgia; sans-seirif;
  font-size: 16px;
  line-height: 2.0;
}

 /* h1 { */
  /* color: #332200; */
/* } */
