/* body { */
    /* position: relative; */
/* } */
/* #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;} */
/* #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;} */
/* #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;} */
/* #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;} */
/* #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;} */



.carousel-inner {
    max-height: 720px;
    overflow: hidden;
}

  #myCarousel img {
    min-height: 300px;
    min-width: 100%;
  }

  #myCarousel2 img {
    min-height: 300px;
    min-width: 100%;
  }

.carousel-caption {
    top: 30%;
    bottom: auto;
    background: rgba(0, 0, 0, 0.35);
}

#text-bg-1 {
    color: white;
    line-height: 1.6;
}


 .bg-1 {
       background-color: #1abc9c; /* Green */
        color: #ffffff;
       }

img {
        max-width: 100%;
      }

.bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

.bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }



/* center text from 1st section */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* body { */
  /* background-image:url("images/windmills3-unsplash.jpg"); */
  /* background-color: #ffeecc; */
  /* color: #4d3300; */
  /* font-family: Georgia; sans-seirif; */
  /* font-size: 16px; */
  /* line-height: 2.0; */
/* } */

 /* h1 { */
  /* color: #332200; */
/* } */
